@use '../colors/colors' as c;
@use '../mixins' as m;
footer{
    display: flex;
    justify-content: center;
    padding: 4em 0;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    gap: 3em;
    margin: 0;
    .footer-logo{
        img{
            width: 120px;
        }
    }
    .footer-links{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        gap: 2em;
        dl{
            display: flex;
            flex-direction: column;
            gap: 1em;
            dt{
                color: #919496;
            }
            dd{
                &:hover{
                    color: c.$second-color;
                    cursor: pointer;
                }
            }
        }
    }
    .social-media{
        display: flex;
        gap: 2em;
    }
}

.down-footer{
    display: flex;
    justify-content: space-between;
    margin: 0;   
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap ;     
        a{
            text-decoration: none;
            color: #919496;
            font-size: 10px;
            &:hover{
                color: c.$second-color;
                cursor: pointer;
            }
        }
    }
    span{
        text-align: end;
        color: #919496;
        font-size: 10px;
        padding: 0;
    }
    h6{
        font-size: 10px;
        color: #919496;
        &:hover{
            color: c.$second-color;
            cursor: pointer;
        }
    }
    @include m.sm{
        ul{
            flex-direction: row;
            padding: 0;
        }
    }
    @include m.md{
        ul{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
        span{
            font-size: 12px;
        }
        h6{
            font-size: 12px;
        }
    }
}