@use '../colors/colors' as c;
.main-section{
    height: 100vh;
    background-image: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top 35%;
    /*&::before{
        content: "";
        position: absolute;
        top:-80px;
        right: -120px;
        background-color:c.$bg-primary-color;
        width: 200px;
        height: 200px;
        display: block;
        border-radius: 100%;
    }*/
}