$bg-primary-color:#1ED760;
$bg-second-color:#2941ab;
$bg-dark-color:#000;
$primary-color:#fff;
$second-color:#1ED760;

.bg-dark-color{
    background-color: $bg-dark-color;
}
.bg-primary-color{
    background-color: $bg-primary-color;
}
.bg-second-color{
    background-color: $bg-second-color;
}
.primary-color{
    color: $primary-color;
}
.second-color{
    color: $second-color;
}